{% extends 'main.html' %}
{% block content %}

<div class="container my-5">
    <h2>{{ recipe.name }}</h2>
    <p><strong>Meal Type:</strong> {{ recipe.meal_type|title }}</p>
    <p><strong>Description:</strong> {{ recipe.description }}</p>
    <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Instructions:</strong> {{ recipe.instructions }}</p>

    <p><strong>Allergies:</strong>
        <ul>
            {% for allergy in recipe.allergies.all %}
                <li>{{ allergy.name }}</li>
            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>
    </p>

    <p><strong>Management of Allergies:</strong> {{ recipe.management_of_allergies }}</p>
</div>

{% endblock %}
