
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-primary" href="{% url 'home' %}">MealMate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'recipes' %}">Recipes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'nutrientcorner' %}">Nutrients-Corner</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'shop' %}">Utensil-Hub</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'contact' %}">Contact-Us</a>
      </li>
    </ul>
  </div>
</nav>
